[submodule "deps/language-typescript"]
	path = deps/language-typescript
	url = git://github.com/mgsloan/language-typescript.git
[submodule "test/DefinitelyTyped"]
	path = test/DefinitelyTyped
	url = git://github.com/borisyankov/DefinitelyTyped.git
